@tailwind base;
@tailwind components;
@tailwind utilities;


h2 {
  @apply mb-2 text-4xl font-bold text-primary font-bold dark:text-dark_primary;
}

h3 {
  @apply mb-1 text-xl text-secondary font-medium dark:text-white;
}

p {
  @apply mb-3 text-gray-800 dark:text-gray-200 text-sm;
}

.skill {
  @apply transition duration-500 mr-2 my-1 rounded-full border px-4 text-xs py-1 font-medium bg-stone-200 dark:bg-stone-100;
}

.conseiller p {
  @apply text-xs mb-1;
  min-height: 32px;
}

.conseiller h4 {
  @apply text-sm font-medium text-gray-800 dark:text-white;
}

.conseiller li {
  @apply md:pr-2
}

.precision small {
  @apply text-xs text-gray-600 dark:text-gray-400;
}

.dark path {
  fill: white;
}

.rounded-full {
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}

hr {
  border-top: 1px dashed #7a7a7a69;
}